:root {
  /* primary */
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* font */
  --fuente-principal: "Rubik", serif;

  /* spacing */
  --spacing-small: 1.5rem;
  --spacing-large: 3rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-color: var(--Very-dark-blue);
  color: var(--Pale-Blue);
}

img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 5rem auto;
  width: 95%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* dashboard */
.dashboard {
  display: grid;
}

.dashboard__user {
  background-color: var(--Dark-blue);
  border-radius: 2rem;
}

/* user */
.user {
  background-color: var(--Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  border-radius: 2rem;
  padding: 0.5rem;
}

.user img {
  width: 6rem;
  height: 6rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.user__data {
  margin: 2rem 0;
}

.subtitle {
  margin: 0;
  font-size: 1.3rem;
}

.user__heading {
  margin: 0;
  font-weight: 500;
}

/* calendar */
.dashboard__calendar {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-large);
}

.dashboard__calendar a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
  margin-bottom: 0;
  transition: 0.2s ease-in-out;
}

.dashboard__calendar a:hover {
  font-weight: 700;
  color: #fff;
}

/* plans */
.plans {
  display: grid;
  gap: 2rem;
}

.plan {
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  margin: 5rem 0;
  opacity: 0;
  transform: translateY(10px);
  background-repeat: no-repeat;
  background-position: 24rem;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.plan__color {
  border-radius: 2rem 2rem 0 0;
  height: 5rem;
}

/* specific colors for plans */
.work {
  background-color: var(--Light-red-work);
  background-image: url(/images/icon-work.svg);
}
.play {
  background-color: var(--Soft-blue-play);
  background-image: url(/images/icon-play.svg);
}
.study {
  background-color: var(--Light-red-study);
  background-image: url(/images/icon-study.svg);
}
.exercise {
  background-color: var(--Lime-green-exercise);
  background-image: url(/images/icon-exercise.svg);
}
.social {
  background-color: var(--Violet-social);
  background-image: url(/images/icon-social.svg);
}
.self-care {
  background-color: var(--Soft-orange-self-care);
  background-image: url(/images/icon-self-care.svg);
}

/* plan content */
.plan__content {
  position: absolute;
  background-color: var(--Dark-blue);
  border-radius: 2rem;
  top: 4.4rem;
  left: -0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-small);
  color: #fff;
  transition: 0.2s ease-in-out;
}

.plan__content:hover {
  background-color: var(--Desaturated-blue);
  transform: scale(1.02);
}

.content__title {
  font-weight: 700;
  margin-bottom: 0;
}

.content__time {
  margin: 0;
  font-size: var(--spacing-large);
  font-weight: 300;
}

.content__time span {
  color: #fff;
}

.content__duration {
  color: var(--Pale-Blue);
  text-align: right;
}

.content__duration span {
  color: var(--Pale-Blue);
  font-weight: 400;
}

.content__duration img {
  margin-top: 3rem;
  transition: 0.2s ease-in-out;
}

.content__duration img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.duration {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* media queries */
@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr 2fr;
  }

  .user {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-large);
  }

  .user img {
    margin: 2rem 0 0 0;
    height: 8rem;
    width: 8rem;
  }

  .dashboard__calendar {
    flex-direction: column;
    gap: var(--spacing-small);
    margin-top: 2rem;
  }

  .plans {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-small);
    align-items: center;
  }

  .plan__content {
    flex-direction: column;
    padding: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: -12rem;
  }

  .content__duration {
    position: relative;
  }

  .content__duration img {
    position: absolute;
    top: -10rem;
  }

  .duration {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .dashboard__user {
    width: 55%;
    margin-right: 2rem;
  }

  .plans {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: var(--spacing-large);
  }

  .plan__content {
    top: 4rem;
  }

  .plan {
    background-position: 15rem;
    border-radius: 2rem 2rem 0 0;
  }

  .content__duration img {
    top: -9rem;
    left: 13rem;
  }
}

/* animations */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
