:root {
  /* primary */
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* neutral */

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* font */

  --fuente-principal: "Rubik", serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.8rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-color: var(--Very-dark-blue);
  color: var(--Pale-Blue);
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 5rem auto;
  width: 95%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* dashboard */

.dashboard {
  display: grid;
}

.dashboard__user {
  background-color: var(--Dark-blue);
  border-radius: 2rem;
}

/* user */

.user {
  background-color: var(--Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  border-radius: 2rem;
  padding: 0.5rem;
}

.user img {
  width: 6rem;
  height: 6rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.user__data {
  margin: 2rem 0;
}

.subtitle {
  margin: 0;
  font-size: 1.3rem;
}

.user__heading {
  margin: 0;
  font-weight: 500;
}

/* calendar */

.dashboard__calendar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.dashboard__calendar a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
  margin-bottom: 0;
  transition: 0.2s ease-in-out;
}

/* plans */

.plans {
  display: grid;
  gap: 2rem;
}

.plan {
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  margin: 5rem 0;
}

.plan__color {
  background-repeat: no-repeat;
  background-position: 24rem;
  border-radius: 2rem 2rem 0 0;
  height: 5rem;
}

/* child */

.work {
  background-color: var(--Light-red-work);
  background-image: url(/images/icon-work.svg);
}
.play {
  background-color: var(--Soft-blue-play);
  background-image: url(/images/icon-play.svg);
}
.study {
  background-color: var(--Light-red-study);
  background-image: url(/images/icon-study.svg);
}
.exercise {
  background-color: var(--Lime-green-exercise);
  background-image: url(/images/icon-exercise.svg);
}
.social {
  background-color: var(--Violet-social);
  background-image: url(/images/icon-social.svg);
}
.self-care {
  background-color: var(--Soft-orange-self-care);
  background-image: url(/images/icon-self-care.svg);
}

/* plan content */

.plan__content {
  position: absolute;
  background-color: var(--Dark-blue);
  border-radius: 2rem;
  top: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1.5rem;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.content__title {
  font-weight: 700;
  margin-bottom: 0;
}

.content__time {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

.content__duration {
  color: var(--Pale-Blue);
  align-items: right;
  text-align: right;
}

.content__duration img {
  margin-top: 3rem;
  transition: 0.2s ease-in-out;
}

.duration {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* media queries */

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr 2fr;
  }

  .user {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
  }

  .user img {
    margin: 2rem 0 0 0;
    height: 8rem;
    width: 8rem;
  }

  .user__data {
    margin: 0 0 2rem 0;
  }

  .user__heading {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
  }

  .dashboard__calendar {
    padding: 1rem 3rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  /* plans */

  .plan__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    width: 94%;
  }

  .plans {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: center;
  }

  .plan {
    margin-top: 4rem;
  }

  .duration {
    margin: 0;
  }

  .content__title {
    font-size: 1.2rem;
  }

  .content__duration {
    position: relative;
  }

  .content__duration img {
    margin: 0;
    position: absolute;
    top: -6rem;
    left: 17rem;
  }

  .plan__color {
    background-position: 13rem center;
    width: 25rem;
  }
}

@media (min-width: 1440px) {
  .dashboard__user {
    width: 55%;
    margin-right: 2rem;
  }

  .dashboard__calendar {
    margin-bottom: 1rem;
  }

  .plan {
    margin: 0;
  }

  .plans {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }

  .content__title {
    font-size: 1.5rem;
  }

  .content__time {
    font-weight: 500;
  }

  .duration {
    margin-bottom: 2rem;
  }
}

/* effect */

.plan__content:hover {
  background-color: var(--Desaturated-blue);
}

.dashboard__calendar a:hover {
  font-weight: 700;
  color: #fff;
}
.content__duration img:hover {
  transform: scale(1.5);
  cursor: pointer;
}
